html, body, svg
{
    height: 100%;
    margin: 0;
    width: 100%;
}

#network_container
{
    height: calc(100% - 2em);
    width: 100%;
}

#state_input_container
{
    height: 1.9em;
    width: 100%;
}

#state_input_container input
{
    height: 1.9em; 
    width: calc(100% - 1em);
}

.node {
  cursor: pointer;
}

.overlay{
    background-color:#EEE;
}
 
circle.node_circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

line.connection {
    stroke: #aaa;
    stroke-width: 1px;
}
 
.node text {
  font-size:10px; 
  font-family:sans-serif;
}
 
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.additionalParentLink {
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}
